body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.contact-form {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 15px;
}

fieldset {
    border: 1px solid white;
    padding: 15px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid wheat;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: darkblue ;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
